WebPanoptoAPI/Service References/PanoptoAuth/Auth.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Auth" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IAuth_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://coursecast.devdomain.soton.ac.uk/Panopto/PublicAPISSL/4.6/Auth.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://coursecast.devdomain.soton.ac.uk/Panopto/PublicAPISSL/4.6/Auth.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://coursecast.devdomain.soton.ac.uk/Panopto/PublicAPISSL/4.6/Auth.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Panopto.Server.Services.PublicAPI.V40" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuth_LogOnWithPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOnWithPassword" />
  </wsdl:message>
  <wsdl:message name="IAuth_LogOnWithPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOnWithPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAuth_LogOnWithExternalProvider_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOnWithExternalProvider" />
  </wsdl:message>
  <wsdl:message name="IAuth_LogOnWithExternalProvider_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOnWithExternalProviderResponse" />
  </wsdl:message>
  <wsdl:message name="IAuth_GetServerVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerVersion" />
  </wsdl:message>
  <wsdl:message name="IAuth_GetServerVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IAuth_GetAuthenticatedUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthenticatedUrl" />
  </wsdl:message>
  <wsdl:message name="IAuth_GetAuthenticatedUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthenticatedUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuth">
    <wsdl:operation name="LogOnWithPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuth/LogOnWithPassword" message="tns:IAuth_LogOnWithPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuth/LogOnWithPasswordResponse" message="tns:IAuth_LogOnWithPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOnWithExternalProvider">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuth/LogOnWithExternalProvider" message="tns:IAuth_LogOnWithExternalProvider_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuth/LogOnWithExternalProviderResponse" message="tns:IAuth_LogOnWithExternalProvider_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuth/GetServerVersion" message="tns:IAuth_GetServerVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuth/GetServerVersionResponse" message="tns:IAuth_GetServerVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticatedUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuth/GetAuthenticatedUrl" message="tns:IAuth_GetAuthenticatedUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuth/GetAuthenticatedUrlResponse" message="tns:IAuth_GetAuthenticatedUrl_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuth" type="tns:IAuth">
    <wsp:PolicyReference URI="#BasicHttpBinding_IAuth_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogOnWithPassword">
      <soap:operation soapAction="http://tempuri.org/IAuth/LogOnWithPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOnWithExternalProvider">
      <soap:operation soapAction="http://tempuri.org/IAuth/LogOnWithExternalProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerVersion">
      <soap:operation soapAction="http://tempuri.org/IAuth/GetServerVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticatedUrl">
      <soap:operation soapAction="http://tempuri.org/IAuth/GetAuthenticatedUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Auth">
    <wsdl:port name="BasicHttpBinding_IAuth" binding="tns:BasicHttpBinding_IAuth">
      <soap:address location="https://coursecast.devdomain.soton.ac.uk/Panopto/PublicAPISSL/4.6/Auth.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>